@font-face {
  font-family: "AkayaTelivigala";
  src: url("assets/Akaya_Telivigala/AkayaTelivigala-Regular.ttf");
}
@font-face {
  font-family: "Amarante";
  src: url("assets/Amaranth/Amaranth-Regular.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("assets/Helvetica/Helvetica.ttf");
}
@font-face {
  font-family: "SourceSansPro";
  src: url("assets/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
}
header {
  height: 95px;
  position: sticky;
  left: 0px;
  top: 0px;
}
header.show-nav {
  background-color: #ffffff;
  /*Color le header en blanc quand le burger est déplié pour ne pas avoir de trou
  transparent entre le header et la nav et voir le box shadow du header */
}
section {
padding: 55px 10px;
}
section:nth-child(1n+2) {
  background-color: #F9F9F9;
 }
 article{
  padding-bottom: 75px;
 }

.contnairTextImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: "AkayaTelivigala";
  font-size: 2.5rem;
  color: #606060;
  font-weight: 400;
  padding: 0 0 55px 0;
}
h2 {
  font-size: 1.5 rem;
  color: #1ab7ee;
  font-family: "Helvetica";
  font-weight: bold;
}

.h2MobileScreen {
  text-align: center;
  padding: 0 0 50px 0;
}
.h2LargeScreen {
  display: none;
}
.pArticle {
  font-family: SourceSansPro;
  color: #606060;
  text-align: justify;
  padding: 30px 5px;
  text-align: justify;
}
.imgArticle > img {
  width: 100%; 
  height: 500px;
  object-fit: cover;
  border-radius: 1%;
  border: 1px solid #606060;
  max-width: 700px;
}
.contnairCV{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
 .imgArticleCV{
height: 800px;
width: 100%;
object-fit: cover;
  border-radius: 1%;
  border: 1px solid #606060;

} 
a.CV {
  text-decoration: initial;
  color: white;
}
button.CV:hover{
  background: #1391e1;
}
button.CV{
  width: 173px;
	height: 32px;
	padding: 0px 10px 0px 10px;
	background: #0b6cd4;
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
article.CV{
  text-align: center;
}
.boxShadowBotom {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.navbar__links {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 0%;
  height: 234px;
  /* height: calc(100vh - 85px); */
  position: absolute;
  top: 94px; /*Décalage d'un pixel à cause de l'apercu mobile
   pour ne pas avoir de texte apparent entre le header et le menu déplié*/
  right: 0;
  transform: translateX(101%);
  transition: all 0.5s ease-in-out;
  padding-inline-start: 0;
  list-style: none;

  /* border: 1px solid #797b7d; */
}
.navbar__link {
  transform: translateX(101%);
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Amarante";
  font-size: 1.2rem;
  font-weight: bold;
  color: #484d53;
}

.show-nav .navbar__links {
  width: 100%;
  transform: translateX(0);
  background-color: white;
}

.show-nav .navbar__link {
  transform: translateX(0);
}
.navbar__link > a {
  display: block;
  padding: 1rem;
  font-family: "Amarante";
  text-decoration: none;
  color: #797b7d;
}

.navbar__link > a:hover {
  background-color: #1ab7ee;
  border: 1px solid #1391e1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 3px;
}
/* Toggle menu */
.burger {
  display: block;
  position: relative;
  padding: 0;
  width: 95px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}
/* BAR du burger */

.bar {
  display: block;
  width: 45px;
  height: 4px;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  background: #484d53;
  transition: all 0.5s ease-in-out;
}
.bar::before,
.bar::after {
  content: "";
  width: 45px;
  height: 4px;
  position: absolute;
  margin: 0 auto;
  left: 25px;
  background: #484d53;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.bar::before {
  transform: translateY(-12px);
}
.bar::after {
  transform: translateY(12px);
}
.show-nav .bar {
  width: 0;
  background: transparent;
}
.show-nav .bar::before {
  transform: rotate(45deg);
}
.show-nav .bar::after {
  transform: rotate(-45deg);
}

/* Animations */
.show-nav .first {
  transition: all 1s ease-out;
}
.show-nav .second {
  transition: all 1.1s ease-out;
}
.show-nav .third {
  transition: all 1.2s ease-out;
}
.show-nav .four {
  transition: all 1.3s ease-out;
}

.titleSite {
  color: #484d53;
  font-family: "AkayaTelivigala";
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.titleLogo {
  display: none;
}
.logo {
  height: 100%;
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-end-end-radius: 15px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  background: #484d53;
  border-color: #000000;
}
.imgLogo {
  /*Modification du logo SVG pour la coleur orange et l'application d'un drop shadow*/
  filter: invert(53%) sepia(33%) saturate(5154%) hue-rotate(344deg)
    brightness(100%) contrast(102%) drop-shadow(0px 5px 5px rgb(0 0 0));
}

.separatorArticle {
  display: block;
  width: 45px;
  height: 1px;
  background-color: #7a7a7a;
  margin: 0 auto;
}
.separatorFooter {
  display: block;
  width: 200px;
  height: 1px;
  background-color: #747475;
  margin: 0 auto;
}
.separatorSection {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #7a7a7a;
  margin: 0 ;
  padding: 0;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  background-color: #484d53;
}
div.btnSocial{
width: 300px;
text-align: center;
}
img.btnSocial {
  filter: invert(50%) sepia(11%) saturate(5%) hue-rotate(127deg) brightness(88%) contrast(94%);
  height: 32px;
  padding:0 10px;
}
.copyrightText{
  color:#747475;
  font-weight: #747475;
}
.paddingFooter{
  margin: 5px 0;
}
.copyrightText{
  font-weight: bold;
  font-family: "SourceSansPro";
}

/* SCREEN LARGE */
@media screen and (min-width: 745px) {
  .logo {
    min-width: 200px;
    justify-content: space-evenly;
  }
  .titleLogo {
    display: initial;
    font-family: "AkayaTelivigala";
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
  }
  .titleSite {
    display: none;
  }
  .burger {
    display: none;
  }
  ul {
    list-style: none;
    list-style-type: initial;
  }

  .navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: none;
    /* transition: none; */
    height: 95px; /*hauteur du header pour la visu de l'effet box-shadow*/
    width: 100%;
    position: initial;
    padding: 0px 5px;
  }
  .navbar__link {
    transition: none;
    transform: none;
    /* padding-left: 40px; */
  }
  .navbar__link > a {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    height: 85px;
  }

  .navbar__link > a:hover {
    background-color: #1ab7ee;
    border: 1px solid #1391e1;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
  }

  .h2LargeScreen {
    display: initial;
  }
  .h2MobileScreen {
    display: none;
  }
  .descriptionArticle {
    max-width: 40%;
    padding-left: 15px;
  }
  .contnairTextImg {
    flex-direction: initial;
    justify-content: space-evenly;
  }
}
